@import url('./assets/theme/vendors/bootstrap/dist/css/bootstrap.min.css');
@import url('./assets/theme/vendors/font-awesome/css/font-awesome.min.css');
@import url('./assets/theme/vendors/nprogress/nprogress.css');
@import url('./assets/theme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css');
@import url('./assets/theme/vendors/jqvmap/dist/jqvmap.min.css');
@import url('./assets/theme/vendors/bootstrap-daterangepicker/daterangepicker.css');
@import url('./assets/theme/vendors/pure-css-checkbox/style.css');
@import url('./assets/theme/build/css/custom.min.css');

.right_col .content-wrapper {
  margin-right: -10px;
  margin-left: -10px;
  display: block;
  flex-wrap: wrap;
  width: 100%;
}
input[readonly]{
	pointer-events: none;
}
.data_table tr td:last-child a{
	font-size: 18px;
    margin-left: 8px;
}
.data_table tr td:last-child a:first-child {
	margin-left: 0px;
}