@import url('./assets/theme/vendors/bootstrap/dist/css/bootstrap.min.css');
@import url('./assets/theme/vendors/font-awesome/css/font-awesome.min.css');
@import url('./assets/theme/vendors/nprogress/nprogress.css');
@import url('./assets/theme/vendors/iCheck/skins/flat/green.css');
@import url('./assets/theme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css');
@import url('./assets/theme/vendors/jqvmap/dist/jqvmap.min.css');
@import url('./assets/theme/vendors/bootstrap-daterangepicker/daterangepicker.css');
@import url('./assets/theme/build/css/custom.min.css');

.right_col .content-wrapper {
  margin-right: -10px;
  margin-left: -10px;
  display: block;
  flex-wrap: wrap;
  width: 100%;
}
