<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConnString" value="Data Source=.;Initial Catalog=BrandHub_2;Integrated Security=False;User ID=sa;Password=123456;MultipleActiveResultSets=True" />
    <add key="countryCsvPath" value="../../Data/countries.csv" />
    <add key="provinceCsvPath" value="../../Data/provinces.csv" />
  </appSettings>
</configuration>