<div class="login_wrapper">
  <div class="animate form login_form">my
    <section class="login_content">
      <form (submit)=login()>
        <h1><i class="fa fa-paw"></i> Welcome To Brandhub!</h1>
        <div>
          <input type="text" name="Username" [(ngModel)]="model.Username" class="form-control" required="" placeholder="Username">
        </div>
        <div>
          <input type="password" name="Password" [(ngModel)]="model.Password" class="form-control" placeholder="Password">
        </div>
        <div>
          <button class="btn btn-default submit">Login</button>
        </div>
        <div class="clearfix"></div>
        <div class="separator">
          <div>
            
          </div>
        </div>
      </form>
    </section>
  </div>
