<div class="x_panel">
  <div class="x_title">
    <h2>Manage Organizations</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x-content">
    <div class="table-responsive">
      <table *ngIf="searchResult" class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of searchResult.Result">
            <td>{{item.ID}}</td>
            <td>{{item.Name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
